<html>
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>

<body>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Введите Сообщение">
            <input type="text" name="tag" placeholder="Введите Тэг">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit"> Add </button>
        </form>
    </div>

    <div>Список Данных</div>
<!--    <div>Список Данных</div>-->

    <form method="post" action="filter">
        <input type="text" name="text">
        <button type="submit">Find</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>

    {{#messageList}}
        <div>
          <b>{{id}}</b>
          <span>{{text}}</span>
        </div>
    {{/messageList}}

    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>