<html>
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>


<body>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Введите Сообщение">
            <input type="text" name="tag" placeholder="Введите Тэг">
            <button type="submit">Add</button>
        </form>
    </div>

    <div>Список Данных</div>
    {{#messageList}}
        <div>
            s
        </div>

    {{/messageList}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>

</body>
</html>